# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies / Build output
node_modules
dist
dist-ssr
*.local

# Terraform
eks-tf/.terraform/
eks-tf/*.tfstate
eks-tf/*.tfstate.*.backup
eks-tf/crash.log
eks-tf/.terraform.lock.hcl

# Environment variables
.env*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?